node_modules/

.idea/
.vscode/
.nyc_output/
build/
temp/
coverage/
dist/
log
temp

uploads/*
!uploads/.gitkeep

.env
.env.local
.env.development
.env.test
.env.production
.env.staging
.env.prod
.env.stage
.env.dev